/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 rongeurs2A
 */


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --dark-jungle-green: hsl(188, 61%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --green-soda: 	hsl(159, 36%, 57%);
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-green: hsla(140, 75%, 45%, 0.1);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);
  --light-color: #666;


  /**
   * typography
   */

  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 100px;
  --section-padding-sm: 20px 100px;

  /**
   * shadow
   */

  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  --box-shadow: 0rem 1rem 20px 0px rgb(0 0 0 / 10%);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s linear;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
button,
.ion_icon { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

address { font-style: normal; }

.ion_icon { pointer-events: none; }

html {
  font-family: var(--ff-nunito-sans);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track { background: var(--white); }

::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border-left: 2px solid var(--white);
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

button, a { transition: var(--transition); }

.h1,
.h2,
.h3 {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1;
}

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-4);
  font-weight: var(--font-weight, 700);
}

.h3 > a { color: inherit; }

.btn {
  cursor: pointer;
  position: relative;
  background: var(--green-soda);
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  text-transform: var(--text-transform, capitalize);
  text-align: center;
  border: 1px solid var(--green-soda);
  padding: 10px 20px;
  z-index: 1;
}

.btn:is(:hover, :focus) {
  background: var(--white);
  color: var(--green-soda);
  border-color: var(--green-soda);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--white);
  transition: var(--transition);
  z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 100%; }

.w_100 { width: 100%; }

.section_subtitle {
  color: var(--green-soda);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  padding: 5px 20px;
  background: hsla(140, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section_title {
  text-align: var(--text-align, center);
  margin-bottom: var(--margin-bottom, 50px);
}

.card_badge {
  background: var(--black);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
}

.card_badge.green { background: var(--yellow-green); }

.card_badge.orange { background: var(--green-soda); }

.has_scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has_scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has_scrollbar::-webkit-scrollbar-track {
  background: var(--cultured-2);
  outline: 2px solid var(--cadet);
  border-radius: 10px;
}

.has_scrollbar::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border: 1px solid var(--cultured-2);
  border-radius: 10px;
}

.has_scrollbar::-webkit-scrollbar-button { width: 15%; }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: relative;
  z-index: 2;
}

.header_top {
  background: var(--prussian-blue);
  padding-block: 15px;
}

.header_top .container,
.header_top_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header_top .container { gap: 8px 20px; }

.header_top_list { gap: 15px; }

.header_top_link {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header_top_link:is(:hover, :focus) { color: var(--green-soda); }

.header_top_link .ion_icon {
  color: var(--green-soda);
  font-size: 15px;
  --ionicon-stroke-width: 60px;
}

.header_top .wrapper,
.header_top_social_link {
  display: flex;
  align-items: center;
}

.header_top .wrapper { gap: 20px; }

.header_top_social_link { gap: 8px; }

.top_social_link {
  color: var(--white);
  font-size: 15px;
}

.header_top_btn {
  background: var(--green-soda);
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 4px 15px;
}

.header_top_btn:is(:hover, :focus) { --green-soda: hsl(7, 72%, 46%); }

.header_bottom {
  background: var(--white);
  padding-block: 25px;
}

.header_bottom .logo img { margin-inline: auto; }

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;
}

.navbar.active {
  visibility: visible;
  transform: translateX(310px);
  transition: 0.25s ease-out;
}

.navbar_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--cultured-1);
  margin-bottom: 25px;
}

.navbar_top .logo img { width: 200px; }

.nav_close_btn .ion_icon {
  font-size: 20px;
  --ionicon-stroke-width: 45px;
  padding: 5px;
}

.navbar_link {
  color: var(--cadet);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  padding-block: 15px;
}

.navbar_link:is(:hover, :focus) { color: var(--green-soda); }

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  z-index: 4;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.header_bottom_actions {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-block: 15px 10px;
  box-shadow: -2px 0 30px hsla(237, 71%, 52%, 0.2);
  z-index: 3;
}

.header_bottom_actions_btn .ion_icon {
  color: hsl(0, 0%, 10%);
  font-size: 20px;
  margin-inline: auto;
  margin-bottom: 5px;
  --ionicon-stroke-width: 40px;
  transition: var(--transition);
}

.header_bottom_actions_btn:is(:hover, :focus) .ion_icon { color: var(--green-soda); }

.header_bottom_actions_btn span {
  color: var(--cadet);
  font-family: var(--ff-poppins);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.hero_content { margin-bottom: 60px; }

.hero_subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.hero_subtitle .ion_icon { color: var(--green-soda); }

.hero_subtitle span {
  color: var(--dark-jungle-green);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.hero_title { margin-bottom: 20px; }

.hero_text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  padding-left: 15px;
  border-left: 1px solid;
  margin-bottom: 30px;
}





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { padding-block: var(--section-padding); }

.about_banner {
  position: relative;
  margin-bottom: 40px;
}

.about_banner > img {
  max-width: max-content;
  width: 100%;
}

.about_banner .abs-img {
  position: absolute;
  bottom: 100px;
  left: 15px;
  width: 50%;
  border-radius: 4px;
}

.about .section-subtitle { margin-inline: 0; }

.about .section-title {
  --text-align: left;
  --margin-bottom: 15px;
}

.about_text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.7;
  margin-bottom: 30px;
}

.about_list { margin-bottom: 30px; }

.about_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.about_item-icon {
  background: var(--misty-green);
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about_item-icon .ion_icon {
  color: var(--green-soda);
  font-size: 18px;
}

.about_item-text {
  color: var(--cadet);
  font-size: var(--fs-5);
}

.about .callout {
  background: var(--misty-green);
  color: var(--cadet);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.8;
  padding: 20px 25px;
  border-left: 4px solid var(--green-soda);
  margin-bottom: 40px;
}

.about .btn {
  max-width: max-content;
  --text-transform: uppercase;
}





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.service_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service_card {
  position: relative;
  background: var(--white);
  text-align: center;
  padding: 40px 30px;
  box-shadow: var(--shadow-2);
}

.service_card .card_icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

.service_card .card_title { margin-bottom: 15px; }

.service_card .card_title > a:is(:hover, :focus) { color: var(--green-soda); }

.service_card .card_text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.service_card .card_link {
  color: var(--opal);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.service_card:is(:hover, :focus) .card_link { color: var(--green-soda); }

.service_card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--green-soda);
  transition: var(--transition);
}

.service_card:is(:hover, :focus)::after { width: 100%; }





/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property { padding-block: var(--section-padding); }

.property_card {
  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);
}

.property_card .card_banner {
  position: relative;
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
}

.property_card .card_banner a { height: 100%; }

.property_card .card_banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.property_card:hover .card_banner img { transform: scale(1.1); }

.property_card .card_banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.95), transparent 30%);
  pointer-events: none;
  z-index: 1;
}

.property_card .banner_actions {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 15px 10px;
  z-index: 1;
}

.banner_actions_btn {
  color: var(--white);
  font-size: var(--fs-6);
  line-height: 1;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.banner_actions_btn .ion_icon { font-size: 16px; }

.banner_actions_btn:first-child { margin-right: auto; }

.banner_actions_btn:is(:hover, :focus) { color: var(--green-soda); }

.property_card .card_content {
  padding: 30px 15px 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.card_price {
  color: var(--green-soda);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  margin-bottom: 5px;
}

.card_price strong {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.property_card .card_title {
  --font-weight: var(--fw-600);
  margin-bottom: 15px;
}

.property_card .card_title > a:is(:hover, :focus) { color: var(--green-soda); }

.property_card .card_text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.property_card .card_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 15px;
}

.property_card .card_item {
  padding-block: 5px;
  color: var(--cadet);
  font-size: var(--fs-5);
}

.property_card .card_item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-right: 20px;
}

.property_card .card_item :is(strong, .ion_icon) { display: inline-block; }

.property_card .card_item .ion_icon {
  margin-left: 2px;
  margin-bottom: -2px;
}

.property_card .card_item span { margin-top: 5px; }

.card_footer {
  padding: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.card_author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author_avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.author_name > a {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-bottom: 3px;
}

.author_name > a:is(:hover, :focus) { color: var(--green-soda); }

.author_title {
  color: var(--cadet);
  font-size: var(--fs-7);
}

.card_footer_actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card_footer_actions_btn {
  background: var(--cultured-2);
  color: var(--cadet);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.card_footer_actions_btn:is(:hover, :focus) {
  background: var(--green-soda);
  color: var(--white);
}





/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.features_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.features_list > li { width: calc(50% - 10px); }

.features_card {
  position: relative;
  background: var(--white);
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: var(--shadow-1);
}

.features_card:is(:hover, :focus) { background: var(--misty-green); }

.features_card .card_icon {
  background: var(--misty-green);
  color: var(--green-soda);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.features_card .card_icon .ion_icon { --ionicon-stroke-width: 20px; }

.features_card .card_title {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  text-align: center;
  transition: var(--transition);
}

.features_card:is(:hover, :focus) .card_title { color: var(--white); }

.features_card .card_btn {
  background: var(--white);
  color: var(--cadet);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(219, 56%, 21%, 0.1);
  transition: var(--transition);
}

.features_card:is(:hover, :focus) .card_btn { color: var(--green-soda); }





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog { padding-block: var(--section-padding); }

.city_card { box-shadow: var(--shadow-2); }

.city_card .card_banner {
  overflow: hidden;
  aspect-ratio: 2 / 1.5;
}

.city_card .card_banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.city_card:is(:hover, :focus) .card_banner img { transform: scale(1.1); }

.city_content { padding: 30px; }

.city_card .card_meta_list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.city_card :is(.card_meta_link, .publish_date) {
  color: var(--cadet);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
}

.city_card :is(.card_meta_link, .publish_date) .ion_icon { color: var(--green-soda); }

.city_card .card_meta_link:is(:hover, :focus) { color: var(--green-soda); }

.city_title {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  --font-weight: var(--fw-600);
}

.city_card .city_title:is(:hover, :focus) { color: var(--green-soda); }


.city_content_bottom {
  padding-top: 20px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city_card .read_more_btn {
  color: var(--green-soda);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  text-transform: uppercase;
}

/*-----------------------------------*\
  #FORMS
\*-----------------------------------*/

.form_container{
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  padding: 20px 0;
}

.login_form { 
  padding-block: var(--section-padding); 
}

.form_section_subtitle {
  color: var(--green-soda);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  padding: 5px 20px;
  background: hsla(140, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.form_card{
  /* max-width: 40rem; */
  align-self: center;
  
 width: 75%;
}

.form_card form{
  /* min-width: 15rem; */
  width: 100%;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: .1rem solid rgba(0,0,0,.2);
  background: var(--misty-green);
  padding: 1rem;
}


.form_card form .inputBox{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form_card form .inputBox .input{
  width: 100%;
}

.form_card form .inputBox .checkbox span,
.form_card form .inputBox .input span{
  display: block;
  padding: .5rem 0;
  font-size: 1rem;
  color: var(--light-color);

}
.form_card form .inputBox .checkbox{
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.form_card form .inputBox .input input,
.form_card form .inputBox .input select,
.form_card form .inputBox .input textarea{
  appearance: none;
  background: var(--white);
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.1rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.form_card form .inputBox .input .select_custom_dropdown{
  position: relative;
  left: 90%;
  bottom: 40%;
}

.form_card form .inputBox .input input:focus,
.form_card form .inputBox .input textarea:focus{
  border: .1rem solid var(--green-soda);
  
}

.form_card form .inputBox .input textarea{
  height: 20rem;
  resize: none;
}

.form_card form .btn{
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}




/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {

  background: linear-gradient(to bottom, var(--white) 50%, var(--raisin-black-1) 50%);
}


.cta_card {

  margin: 0;
  background: var(--green-soda);
  padding: 0px 0px;
  box-shadow: var(--shadow-2);
  padding: 10px 40px 30px 40px;
}

.cta_card .card_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* max-width: max-content; */
  /* margin-inline: auto; */
  /* margin-bottom: 30px; */
}

.cta_card .card_title {
  color: var(--white);
  line-height: 1.3;
  margin-bottom: 15px;
}

.cta_card .card_text {
  color: var(--white);
  font-size: var(--fs-5);
  line-height: 1.8;
}

.cta_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black);
  background: var(--white);
  box-shadow: var(--shadow-2);
  border-color: var(--white);
  margin-inline: auto;
}

.cta_btn:is(:hover, :focus) {
  background: none;
  color: var(--white);
  border-color: transparent;
}

.cta_btn::before { background: var(--black); }


/* ############ CONTACT SECTION ########## */

.cta_card .head_card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: center;
}

.cta_card .head_card h2,p{
  text-align: center;
}

.cta_card form{
  /* min-width: 15rem; */
  width: 100%;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: .1rem solid rgba(0,0,0,.2);
  background: #fff;
  padding: 1.5rem;
}


.cta_card form .inputBox{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cta_card form .inputBox .input{
  width: 100%;
}

.cta_card form .inputBox .input span{
  display: block;
  padding: .5rem 0;
  font-size: 1rem;
  color: var(--light-color);

}

.cta_card form .inputBox .input input,
.cta_card form .inputBox .input textarea{
  background: #eee;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.1rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.cta_card form .inputBox .input input:focus,
.cta_card form .inputBox .input textarea:focus{
  border: .1rem solid var(--green-soda);
  
}

.cta_card form .inputBox .input textarea{
  height: 10rem;
  resize: none;
}

.cta_card form .btn{
  cursor: pointer;
  margin-top: 0;
}

/*-----------------------------------*\
  #CAROUSSEL
\*-----------------------------------*/
  
   .caroussel{
    background: var(--cultured-2);
    padding-block: var(--section-padding-sm);
    padding-bottom: 0px;

   }

   .caroussel .container{
    align-items: center;
    max-width: 1200px;
    height: 30rem;
   }

   .caroussel .container .caroussel_header{
    display: flex;
    flex-direction: column;
   }


   .caroussel .container .caroussel_content{
    height: 100%;
   }

   .caroussel_header .main_title{
      display: flex;
      justify-content: start;
      gap: 10px;
      align-items: center;
   }

   .caroussel_header .details{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* height: 65px; */
   }

   .caroussel_header .details div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 20px;
    gap: .5rem;

   }

   .caroussel_header .iconified_text{
    display: flex;
    gap: 5px;
   }

   .caroussel_header .social_links p{
      line-height: 17px;
      text-decoration: underline;
      display: flex;
      gap: 6px;
   }

   .caroussel_header .main_title .ion_icon {
    font-size: 28px;
   }

   .caroussel_grid{
    position: relative;
    margin-top: 20px;
    display: grid;
    min-height: 400px;
    grid-template-areas: 
    "a a b c"
    "a a d e"
    ;
    padding: 10px 0px;
    gap: 5px;

   }

   .caroussel_grid .grid_item{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
   }

   /* .caroussel_grid .grid_item :hover{
      /* background-color: black; */
  /* } */

   .caroussel_grid :nth-child(1){
    grid-area: a;
    border-radius: .5rem 0 0 .5rem;
   }

   .caroussel_grid :nth-child(2){
    grid-area: b;
   }

   .caroussel_grid :nth-child(3){
    grid-area: c;
    border-radius: 0 .5rem 0 0;
   }

   .caroussel_grid :nth-child(4){
    grid-area: d;
   }

   .caroussel_grid :nth-child(5){
    grid-area: e;
    border-radius: 0 0 .5rem 0;
   }

   .caroussel .caroussel_grid .grid_button{
    background-color: #eee;
    position: absolute;
    bottom: 5%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: .5rem;
    border: 1px solid var(--dark-jungle-green);
    padding: 5px;
    font-weight: bold;
   }


/*-----------------------------------*\
  #PROPERTY ABOUT
\*-----------------------------------*/
  
.property_about{
  background: var(--cultured-2);
  padding-block: var(--section-padding-sm);
 }

 .property_about .container{
  display: grid;
  max-width: 1200px;
  grid-template-columns: 100%;
 }

 .property_about .container .property_details{
  /* background-color: red; */
  margin: 20px;
 }

 .container .property_details .details_container{
  margin: 30px 0;
 }

 .property_details .details_container p{
  text-align: start;
 }

 .container .property_details .low_bordered{
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
 }

 .property_details .main_info{
  display: flex;
  flex-direction: column;
  gap: 25px;
 }

 .property_details .main_info .info_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .main_info .info_header img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
 }

 .property_details .main_info .info_cards{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 150px;
  align-items: center;
 }

 .main_info .info_cards div{
  background-color: var(--white);
  border-radius: .5rem;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.26);
  padding: .5rem 2rem;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1rem;
  gap: 5px;
  text-align: center;
 }

 .info_cards div .ion_icon{
  font-size: 1.7rem;
 }

 .property_about .container .property_booking{
  /* added -edited*/

  display: flex;
  justify-content: center;
 }
   
 /* BOOKING_CARD */
 
 .property_booking .booking_card{
  /* added -edited*/
  height: 300px;
  width: 80%;
  margin: 10px;
  padding: 20px;
  background-color: var(--white);
  border: .01px solid rgba(128, 128, 128, 0.342);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  
 }

 .booking_card .card_body .card_header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  flex-direction: row;
 }

 .card_body .datepicker btn{
  border-radius: .5rem;
 }

 .card_body .card_header .price{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
 }

 .card_body .card_header .rating{
  display: flex; 
  justify-content: center;
  align-items: center;
  line-height: 20px;
  gap: 5px;
 }

 .booking_card .card_body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex-direction: column;
 }

 .card_body .datepicker{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(128, 128, 128, 0.589);
  border-radius: .5rem;
 }

 .card_body input{
  /* height: 100%; */
  flex-basis: 2;
  margin-left: 5px;
 }

 .room_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
 }

 .room_info div{
  display: flex;
  gap: 10px;
 }

 .room_info .ion_icon{
  font-size: 1.7rem;
 }

 .owner_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 
 .owner_info .owner_card{
  align-self: center;
  background-color: rgba(128, 128, 128, 0.13);
  width: 95%;
  min-height: 800px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 35px;
 }

 .owner_card .presentation{
  background-color: white;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 90%;
  padding: 50px 0px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
 }

 .presentation .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.192);
    padding-right: 20px;
 }

 .presentation .profile img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
 }

 .presentation .ratings{
  padding-left: 20px;
 }

 .presentation .ratings div .buffered_text{
  display: flex;
  align-items: center;
  gap: 5px;
 }

 .buffered_text .ion_icon{
  padding-bottom: 3.5px;
 }

 .owner_about div{
  padding: 0 70px;
 }

 .owner_about .more{
  /* added */
  display: flex;
  flex-direction: column;
  gap: 15px;
 }

 .owner_about .more span{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
 }

 .owner_about .more span p{
  text-align: center;
 }

 .owner_btn_container{
  /* added */
  display: flex;
  justify-content: center;
  margin: 30px 10px;
 }

 .more span .ion_icon{
  font-size: 1.7rem;
 }

 .owner_about .desc{
  margin-top: 30px;
 }

 .owner_about .desc p{
  text-align: center;
 }

 .owner_about .see_more{
  /* added */
  display: flex;
  gap: 5px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
  margin: 30px 10px;
 }

 .owner_about .warning_text{
  /* addded */
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .owner_about small{
  /* added */
  text-align: center;
  color: gray;
 }
 

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background: var(--raisin-black-1);
  color: var(--white);
  margin-bottom: 68px;
}

.footer .container { padding-inline: 30px; }

.footer a { color: inherit; }

.footer_top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer_brand { margin-bottom: 70px; }

.footer_brand .logo { margin-bottom: 15px; }

.section-text {
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 45ch;
}

.contact_list {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.contact_link {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact_link .ion_icon { font-size: 18px; }

.contact_link :is(address, span) {
  font-size: var(--fs-5);
  transition: var(--transition);
}

.contact_link:is(:hover, :focus) span { color: var(--green-soda); }

.social_list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_list:not(:last-child) { margin-bottom: 50px; }

.footer_list_title {
  font-family: var(--ff-poppins);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 15px;
}

.footer_link {
  font-size: var(--fs-5);
  padding-block: 10px;
}

.footer_link:is(:hover, :focus) { color: var(--green-soda); }

.footer_bottom {
  background: var(--raisin-black-2);
  padding-block: 25px;
}

.copyright {
  font-size: var(--fs-5);
  text-align: center;
}

.copyright a { display: inline-block; }

.copyright a:is(:hover, :focus) { color: var(--green-soda); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 1.875rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .has_scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has_scrollbar > li { min-width: calc(50% - 12.5px); }



  /**
   * SERVICE
   */

  .service_list > li { width: calc(50% - 15px); }


  /**
  * 
  */

  .owner_about .more span p{
    text-align: start;
   }


  /**
   * PROPERTY
   */

  .property .container {
    max-width: unset;
    padding-inline: 25px;
  }



  /**
   * CTA
   */

  /* .cta_card { --fs-2: 1.5rem; } */

    /**
   * FORMS
   */
   .form_card form .inputBox .input .select_custom_dropdown{
    position: relative;
    left: 95%;
    bottom: 40%;
  }
    


  /**
   * FOOTER
   */

  .footer_link_box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

}

/**
 * responsive for smaller than 425px screen
 */

 @media (max-width: 425px) {
  .caroussel_header .details .ratings :nth-child(2){
    display: none;
   }
  
   .caroussel_header .details div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: .5rem;
   }

   .owner_card .presentation{
    flex-direction: column;
   }

   .owner_card .presentation .profile{
    border-right: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
    margin-bottom: 20px;
    padding: 0px;
    padding-bottom: 20px;
   }

   .property_details .main_info .info_cards{
    flex-direction: column;
    height: 350px;
   }

   .property_details .main_info .info_cards div{
    width: 100%;
   }
  
 }

/**
 * responsive for smaller than 768px screen
 */

 @media (max-width: 768px) {
  /*-----------------------------------*\
  #CAROUSSEL RESPONSIVE
\*-----------------------------------*/
  
.caroussel{
  background: var(--cultured-2);
  padding-block: 0;

}

.caroussel .container{
  align-items: center;
  height: 30rem;
  width: 100%;
  margin: 0px;
  max-width: 1000px;
  padding: 0;
  display: flex;
  flex-direction:column-reverse;
 }

 .caroussel .container .caroussel_header{
  padding: 15px 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
 }


 .caroussel .container .caroussel_content{
  height: 100%;
 }

 .caroussel_header .main_title{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    font-size: .7rem;
 }

 .caroussel_header .details{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: flex-start;
  width: 100%;

  /* height: 65px; */
 }

 .caroussel_header .details div{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 20px;
  gap: .5rem;

 }

 .caroussel_header .iconified_text{
  display: flex;
  gap: 5px;
 }

 .caroussel_header .social_links p{
    line-height: 17px;
    text-decoration: underline;
    display: flex;
    gap: 6px;
 }

 .caroussel_header .main_title .ion_icon {
  font-size: 28px;
 }

 .caroussel_grid{
  position: relative;
  display: grid;
  grid-template-areas: "a";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
 }

 .caroussel_grid .grid_item{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
 }

 /* .caroussel_grid .grid_item :hover{
    /* background-color: black; */
/* } */

 .caroussel_grid :nth-child(1){
  grid-area: a;
  border-radius: 0rem;
 }

 .caroussel_grid :nth-child(2){
  display: none;
 }

 .caroussel_grid :nth-child(3){
  display: none;

  border-radius: 0 .5rem 0 0;
 }

 .caroussel_grid :nth-child(4){
  display: none;

 }

 .caroussel_grid :nth-child(5){
  display: none;
  border-radius: 0 0 .5rem 0;
 }

 .caroussel .caroussel_grid .grid_button{
  background-color: #eee;
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: .5rem;
  border: 1px solid var(--dark-jungle-green);
  padding: 5px;
  font-weight: bold;
 }
 
 }



/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }



  /**
   * HEADER
   */

  .header_top { padding-block: 5px; }

  .header_top .wrapper { margin-left: auto; }

  .header_top_social_link { gap: 12px; }

  .top_social_link { font-size: 1rem; }

  .header_top_btn { padding: 10px 20px; }

  .header_bottom_actions {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header_bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_bottom_actions_btn .ion_icon { margin-bottom: 0; }

  .header_bottom_actions_btn span { display: none; }

  .header_bottom_actions_btn {
    background: var(--white);
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-2);
  }
  
  /**
   * HERO
   */

  .hero_content { max-width: 400px; }

  /*  */
  /* #PROPERTY ABOUT RESPONSIVE*/
  /*  */
  
.property_about{
  background: var(--cultured-2);
  padding-block: var(--section-padding-sm);
 }

 .property_about .container{
  display: grid;
  max-width: 1200px;
  grid-template-columns: 60% 40%;
 }

 .property_about .container .property_details{
  /* background-color: red; */
  margin: 20px;
 }

 .container .property_details .details_container{
  margin: 30px 0;
 }

 .property_details .details_container p{
  text-align: start;
 }

 .container .property_details .low_bordered{
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
 }

 .property_details .main_info{
  display: flex;
  flex-direction: column;
  gap: 25px;
 }

 .property_details .main_info .info_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .main_info .info_header img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
 }

 .property_details .main_info .info_cards{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
 }

 .main_info .info_cards div{
  background-color: var(--white);
  height: 100%;
  border-radius: .5rem;
  border: 1px solid rgba(128, 128, 128, 0.26);
  padding: .5rem 2rem;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1rem;
  gap: 5px;
  text-align: center;
 }

 .info_cards div .ion_icon{
  font-size: 1.7rem;
 }

 .property_about .container .property_booking{
  /* added -edited*/

  display: flex;
  justify-content: flex-end;
 }
   
 
 .property_booking .booking_card{
  /* added -edited*/
  position: sticky;
  top: 20%;
  height: 300px;
  width: 90%;
  margin: 0px;
  background-color: var(--white);
  border: .01px solid rgba(128, 128, 128, 0.342);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
 }

  .booking_card .card_body .card_header{
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  flex-direction: row;
 }

 .card_body .datepicker .btn{
  border-radius: 0 .5rem .5rem 0;
 }

 .card_body .card_header .price{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
 }

 .card_body .card_header .rating{
  display: flex; 
  justify-content: center;
  line-height: 5px;
  gap: 5px;
 }

 .rating .ion_icon{
  margin-bottom: 3px;
 }

 .room_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
 }

 .room_info div{
  display: flex;
  gap: 10px;
 }

 .room_info .ion_icon{
  font-size: 1.7rem;
 }

 .owner_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 
 .owner_info .owner_card{
  align-self: center;
  background-color: rgba(128, 128, 128, 0.13);
  width: 95%;
  min-height: 800px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 35px;
 }

 .owner_card .presentation{
  background-color: white;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 90%;
  padding: 50px 0px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
 }

 .presentation .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.192);
    padding-right: 20px;
 }

 .presentation .profile img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
 }

 .presentation .ratings{
  padding-left: 20px;
 }

 .presentation .ratings div .buffered_text{
  display: flex;
  align-items: center;
  gap: 5px;
 }

 .buffered_text .ion_icon{
  padding-bottom: 3.5px;
 }

 .owner_about div{
  padding: 0 70px;
 }

 .owner_about .more{
  /* added */
  display: flex;
  flex-direction: column;
  gap: 15px;
 }

 .owner_about .more span{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
 }

 .owner_btn_container{
  /* added */
  display: flex;
  justify-content: center;
  margin: 30px 20px;
 }

 .more span .ion_icon{
  font-size: 1.7rem;
 }

 .owner_about .desc{
  margin-top: 30px;
 }

 .owner_about .see_more{
  /* added */
  display: flex;
  gap: 5px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
  margin: 30px 50px;
 }

 .owner_about .warning_text{
  /* addded */
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .owner_about small{
  /* added */
  text-align: center;
  color: gray;
 }
 




  /**
   * ABOUT
   */

  .about .section-title { max-width: 30ch; }

  .about_text { max-width: 55ch }

  .about_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


    /**
   * OWNER CARD
   */


  .owner_card .presentation{
    background-color: white;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 80%;
    padding: 50px 0px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }

   .owner_about .more span{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
   }



  /**
   * FEATURES
   */

  .features_list > li { width: calc(33.33% - 13.33px); }

  .features_card { gap: 20px; }

  .features_card .card_icon {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .features_card .card_title { --fs-6: 1.125rem; }



  /**
   * CITIES
   */

  .city_card { --fs-7: 0.875rem; }

  .city_title { font-size: 1.25rem; }

  .blog .card_meta_list { gap: 120px; }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /**
   * CTA
   */

  /* .cta_card { --fs-2: 1.625rem; } */



  /**
   * FOOTER
   */

  .footer { margin-bottom: 0; }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 3.125rem;
    --fs-4: 1.375rem;

  }



  /**
   * REUSED STYLE
   */


  .container { max-width: 970px; }

  .btn { padding: 15px 40px; }



  /**
   * HEADER
   */

  .header_top_list,
  .header_top .wrapper { gap: 30px; }

    /**
   * SINGLE VIEW MAIN INFO
   */

  .main_info .info_cards div{
    background-color: var(--white);
    border-radius: .5rem;
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 2rem;
    max-height: 100px;
    flex-direction: row;
    display: flex;
    line-height: 1.7rem;
    gap: 5px;
    text-align: center;
   }
  



  /**
   * HERO
   */

  .hero_content {
    max-width: unset;
    margin-bottom: 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .about_banner { margin-bottom: 0; }

  .about_banner > img { width: 100%; }



  /**
   * SERVICE
   */

  .service_list > li { width: calc(33.33% - 20px); }



  /**
   * PROPERTY
   */

  .property_card .card_content { padding-inline: 30px; }

  .card_footer { padding: 20px 30px 30px; }



  /**
   * FEATURES
   */

  .features_list { column-gap: 30px; }

  .features_list > li { width: calc(25% - 30px); }



  /**
   * BLOG
   */

  .city_title { font-size: 1.375rem; }



  /**
   * CTA
   */

  /* .cta_card {
    --fs-2: 1.875rem;
    --fs-5: 1rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  } */

  .cta_card :is(.card_content, .cta_btn) { margin: 0; }


   

  /**
   * FOOTER
   */

  .footer_top .container {
    display: flex;
    justify-content: space-between;
  }

  .footer_brand {
    max-width: 300px;
    margin-bottom: 0;
  }

  .footer_link_box { flex-basis: 550px; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 2.75rem;
    --fs-4: 1.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }

  .has_scrollbar > li { min-width: calc(33.33% - 16.66px); }



  /**
   * HEADER
   */

  .header_bottom { padding-block: 30px; }

  .header_bottom_actions_btn:last-child,
  .navbar_top,
  .overlay { display: none; }

  .navbar,
  .navbar.active { all: unset; }

  .navbar_list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar_link {
    color: var(--dark-jungle-green);
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .header { padding-bottom: 114px; }

  .header_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .header.active .header_bottom {
    position: fixed;
    bottom: auto;
    top: -94px;
    padding-block: 20px;
    box-shadow: 0 10px 50px hsla(237, 71%, 52%, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }

  @keyframes slideDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }



  /**
   * HERO
   */

  .hero_text {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
  }



  /**
   * FEATURES
   */

  .features_card .card_icon {
    width: 100px;
    height: 100px;
    font-size: 45px;
  }

  .features_card .card_title { --fs-6: 1.375rem; }



  /**
   * CTA
   */

  .cta_card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }



  /**
   * FOOTER
   */

  .footer { --fs-5: 1rem; }

  .footer_link_box { flex-basis: 700px; }

}